<div class="head">
  <h3>小组简介</h3>
</div>
<div class="group-summary">
<%= @group.summary %>
</div>
<div class="head">
  <h3><span class="pull-right"><a href="/group/<%= @group.slug %>/new_topic">创建话题</a></span>共有 <%= @group.topics_count %> 话题</h3>
</div>
<div class="topics">
  <ul>
    <% @topics.each do |topic| %>
      <li class="clearfix">
        <a href="/group/topic/<%= topic.id %>" class="title"><%= topic.title %></a>
        <div class="info">
          <span class="pull-right"><a href=""><%= topic.user.name %></a> 回复了这个话题</span>
          <span><%= avatar_tag(topic.user, "avatar") %><a href="/user/<%= topic.user_id %>"><%= topic.user.name %></a>  <%= chn_time_format(topic.created_at) %> 发布</span>
        </div>
      </li>
    <% end %>
  </ul>
</div>