<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= meta_title(@title) %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script type="text/javascript" src="/assets/javascript/jquery.js"></script>
  <script type="text/javascript" src="/assets/javascript/bootstrap.min.js"></script>
</head>
<body>
<%= render_partial 'shared/admin_navigation' %>
<div class="container-fluid">
  <%= render_partial 'shared/flash' %>
  <div class="row-fluid">
    <div class="span9">
      <%= yield %>
    </div>
    <%= render_partial 'shared/admin_sidebar' if sign_in? %>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sign-out").click(function () {
            f = $('#sign-out-form')
            if (!f.length) {
                $('body').append("<form id='sign-out-form' method='post' action='" + $(this).attr('href') + "'>" + "<%= hidden_field_tag :delete %></form>");
                if (confirm("确认登出？")) {
                    $('#sign-out-form').submit();
                }
                $('#sign-out-form').remove()
            }
            return false;
        })
    })
</script>
</body>
</html>